
/*.tab-container > .ant-tabs > .ant-tabs-content > .ant-tabs-tabpane {*/
/*    background: #fff;*/
/*    padding: 16px;*/
/*    border-color: transparent;*/
/*}*/

.tab-container > .ant-tabs > .ant-tabs-bar {
    border-color: #aaaaaa;
}

.tab-container > .ant-tabs > .ant-tabs-bar .ant-tabs-tab {
    height: 50px;
    margin: 0;
}

.tab-container > .ant-tabs > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: transparent;
    background: #4b92db;
    color: #fff;
}

.radio-panel-container > .ant-tabs > .ant-tabs-bar .ant-tabs-tab {
    height: 0;
    margin: -10px;
}

.radio-panel-container > .ant-tabs > .ant-tabs-bar {
    border-color: transparent;
}

.radio-panel-container > .ant-tabs > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: transparent;
    background: transparent;
    color: transparent;
}
